In [1]:
import os
import pandas as pd
from moexsrc import session
from moexsrc.dataframes import Market, Ticker, Period

session.TOKEN = os.getenv("APIKEY")

In [2]:
moex = Ticker("MOEX")
await moex.candles("5min", begin="2026-01-01", end="2026-02-28")

,open,high,low,close,volume,begin,end,value,secid,period
0,173.30,173.30,173.30,173.30,870,2026-01-05 06:55:00,2026-01-05 06:59:59,150771.0,MOEX,Period.FIVE_MINUTES
1,173.30,173.80,172.69,172.53,48970,2026-01-05 07:00:00,2026-01-05 07:04:59,8459500.0,MOEX,Period.FIVE_MINUTES
2,172.53,172.88,172.60,172.54,11980,2026-01-05 07:05:00,2026-01-05 07:09:59,2069116.0,MOEX,Period.FIVE_MINUTES
3,172.54,172.72,172.58,172.70,5410,2026-01-05 07:10:00,2026-01-05 07:14:59,933853.0,MOEX,Period.FIVE_MINUTES
4,172.68,172.72,172.67,172.71,1480,2026-01-05 07:15:00,2026-01-05 07:19:59,255564.0,MOEX,Period.FIVE_MINUTES
...,...,...,...,...,...,...,...,...,...,...
8154,182.68,182.68,182.63,182.65,2120,2026-02-24 20:25:00,2026-02-24 20:29:59,387254.0,MOEX,Period.FIVE_MINUTES
8155,182.65,182.65,182.51,182.58,13510,2026-02-24 20:30:00,2026-02-24 20:34:59,2466578.0,MOEX,Period.FIVE_MINUTES
8156,182.63,182.70,182.67,182.70,3250,2026-02-24 20:35:00,2026-02-24 20:39:59,593643.0,MOEX,Period.FIVE_MINUTES
8157,182.70,182.73,182.70,182.73,1500,2026-02-24 20:40:00,2026-02-24 20:44:59,274069.0,MOEX,Period.FIVE_MINUTES
8158,182.72,182.75,182.72,182.75,50,2026-02-24 20:45:00,2026-02-24 20:49:59,9137.0,MOEX,Period.FIVE_MINUTES

In [3]:
fo = Market("FO")
silv = await fo.get_tickers(assetcode="SILV")
df = pd.concat([await s.candles(Period.ONE_HOUR, begin="2026-01-01", end="2026-02-28") for s in silv])
df.sort_values(["begin", "secid"], ascending=[True, False]).reset_index()

,index,open,high,low,close,volume,begin,end,value,secid,assetcode,period
0,0,79.84,79.84,77.57,77.57,36,2026-01-05 08:00:00,2026-01-05 08:59:59,0.0,SVZ6,SILV,Period.ONE_HOUR
1,0,76.50,77.57,76.50,76.50,160,2026-01-05 08:00:00,2026-01-05 08:59:59,0.0,SVU6,SILV,Period.ONE_HOUR
2,0,76.60,76.60,75.55,75.57,145,2026-01-05 08:00:00,2026-01-05 08:59:59,0.0,SVM6,SILV,Period.ONE_HOUR
3,0,75.30,75.49,75.30,75.39,806,2026-01-05 08:00:00,2026-01-05 08:59:59,0.0,SVH6,SILV,Period.ONE_HOUR
4,1,78.57,78.78,78.57,78.76,87,2026-01-05 09:00:00,2026-01-05 09:59:59,0.0,SVZ6,SILV,Period.ONE_HOUR
...,...,...,...,...,...,...,...,...,...,...,...,...
2587,664,87.96,88.86,87.83,88.74,80068,2026-02-24 18:00:00,2026-02-24 18:59:59,0.0,SVH6,SILV,Period.ONE_HOUR
2588,629,94.08,94.60,93.58,93.60,250,2026-02-24 19:00:00,2026-02-24 19:59:59,0.0,SVZ6,SILV,Period.ONE_HOUR
2589,640,92.32,92.58,91.38,91.66,301,2026-02-24 19:00:00,2026-02-24 19:59:59,0.0,SVU6,SILV,Period.ONE_HOUR
2590,654,90.40,90.64,89.38,89.85,2902,2026-02-24 19:00:00,2026-02-24 19:59:59,0.0,SVM6,SILV,Period.ONE_HOUR
2591,665,88.75,89.05,87.77,88.25,90747,2026-02-24 19:00:00,2026-02-24 19:59:59,0.0,SVH6,SILV,Period.ONE_HOUR

In [4]:
df = pd.concat([await s.candles(Period.TEN_MINUTES, latest=2) for s in silv])
df.sort_values(["begin", "secid"], ascending=[True, False]).reset_index()

,index,open,high,low,close,volume,begin,end,value,secid,assetcode,period
0,1,94.16,94.20,94.16,94.17,3,2026-02-24 20:10:00,2026-02-24 20:19:59,0.0,SVZ6,SILV,Period.TEN_MINUTES
1,1,92.19,92.30,92.19,92.25,14,2026-02-24 20:10:00,2026-02-24 20:19:59,0.0,SVU6,SILV,Period.TEN_MINUTES
2,1,90.11,90.35,90.11,90.33,409,2026-02-24 20:10:00,2026-02-24 20:19:59,0.0,SVM6,SILV,Period.TEN_MINUTES
3,1,88.50,88.75,88.50,88.75,11767,2026-02-24 20:10:00,2026-02-24 20:19:59,0.0,SVH6,SILV,Period.TEN_MINUTES
4,0,94.29,94.29,94.29,94.29,1,2026-02-24 20:20:00,2026-02-24 20:29:59,0.0,SVZ6,SILV,Period.TEN_MINUTES
5,0,92.33,92.33,92.30,92.30,12,2026-02-24 20:20:00,2026-02-24 20:29:59,0.0,SVU6,SILV,Period.TEN_MINUTES
6,0,90.34,90.38,90.25,90.34,202,2026-02-24 20:20:00,2026-02-24 20:29:59,0.0,SVM6,SILV,Period.TEN_MINUTES
7,0,88.75,88.80,88.61,88.73,6848,2026-02-24 20:20:00,2026-02-24 20:29:59,0.0,SVH6,SILV,Period.TEN_MINUTES