In [1]:
import os
import pandas as pd
from moexsrc import session
from moexsrc.dataframes import Asset, Period, Market

session.TOKEN = os.getenv("APIKEY")

In [2]:
silv = Asset('SILV')
await silv.futoi(begin="2026-02-02", end="2026-02-06")

,sectype,clgroup,pos,pos_long,pos_long_num,pos_short,pos_short_num,tradetime,period,assetcode,seqnum,sess_id,session_date,systime
0,SV,YUR,-180339.0,184611.0,72,-364950.0,81,2026-02-02 09:05:13,Period.FIVE_MINUTES,SILV,271,7490,2026-02-02,2026-02-02 09:05:22
1,SV,FIZ,180339.0,335322.0,10875,-154983.0,3314,2026-02-02 09:05:13,Period.FIVE_MINUTES,SILV,271,7490,2026-02-02,2026-02-02 09:05:22
2,SV,YUR,-180368.0,184581.0,72,-364949.0,81,2026-02-02 09:10:00,Period.FIVE_MINUTES,SILV,272,7490,2026-02-02,2026-02-02 09:10:09
3,SV,FIZ,180368.0,335226.0,10904,-154858.0,3301,2026-02-02 09:10:00,Period.FIVE_MINUTES,SILV,272,7490,2026-02-02,2026-02-02 09:10:09
4,SV,YUR,-180349.0,184603.0,74,-364952.0,81,2026-02-02 09:15:00,Period.FIVE_MINUTES,SILV,273,7490,2026-02-02,2026-02-02 09:15:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743,SV,YUR,-10576.0,289636.0,61,-300212.0,63,2026-02-06 23:40:00,Period.FIVE_MINUTES,SILV,56,7495,2026-02-09,2026-02-06 23:40:10
1744,SV,FIZ,10750.0,194115.0,8296,-183365.0,3903,2026-02-06 23:45:00,Period.FIVE_MINUTES,SILV,57,7495,2026-02-09,2026-02-06 23:45:10
1745,SV,YUR,-10750.0,289464.0,61,-300214.0,64,2026-02-06 23:45:00,Period.FIVE_MINUTES,SILV,57,7495,2026-02-09,2026-02-06 23:45:10
1746,SV,FIZ,15316.0,191762.0,8171,-176446.0,3737,2026-02-06 23:50:00,Period.FIVE_MINUTES,SILV,58,7495,2026-02-09,2026-02-06 23:50:10
1747,SV,YUR,-15316.0,289273.0,60,-304589.0,62,2026-02-06 23:50:00,Period.FIVE_MINUTES,SILV,58,7495,2026-02-09,2026-02-06 23:50:10

In [3]:
await silv.futoi(Period.ONE_DAY, begin="2026-02-02", end="2026-02-06")

,sectype,clgroup,pos,pos_long,pos_long_num,pos_short,pos_short_num,tradetime,period,assetcode,seqnum,sess_id,session_date,systime
0,SV,FIZ,102451.0,251673.0,7952,-149222.0,4307,2026-02-02 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-02,2026-02-25 01:11:20
1,SV,YUR,-102451.0,208147.0,60,-310598.0,61,2026-02-02 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-02,2026-02-25 01:11:20
2,SV,FIZ,52740.0,226422.0,7995,-173682.0,4770,2026-02-03 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-03,2026-02-25 01:11:20
3,SV,YUR,-52740.0,228202.0,68,-280942.0,64,2026-02-03 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-03,2026-02-25 01:11:20
4,SV,FIZ,40670.0,241656.0,8564,-200986.0,5183,2026-02-04 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-04,2026-02-25 01:11:20
5,SV,YUR,-40670.0,235048.0,64,-275718.0,68,2026-02-04 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-04,2026-02-25 01:11:20
6,SV,FIZ,71727.0,239480.0,10009,-167753.0,3843,2026-02-05 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-05,2026-02-25 01:11:20
7,SV,YUR,-71727.0,271070.0,65,-342797.0,67,2026-02-05 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-05,2026-02-25 01:11:20
8,SV,FIZ,17269.0,209505.0,9148,-192236.0,4495,2026-02-06 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-06,2026-02-25 01:11:20
9,SV,YUR,-17269.0,288397.0,58,-305666.0,64,2026-02-06 19:00:00,Period.ONE_DAY,SILV,0,0,2026-02-06,2026-02-25 01:11:20

In [4]:
moex = Asset('MOEX')
await moex.futoi(latest=3)

Empty DataFrame
Columns: []
Index: []

In [7]:
moex = Asset('MOEX')
await moex.futoi(Period.ONE_DAY, latest=3)

,sectype,clgroup,pos,pos_long,pos_long_num,pos_short,pos_short_num,tradetime,period,assetcode,seqnum,sess_id,session_date,systime
0,ME,FIZ,6936.0,9146.0,503,-2210.0,137,2026-02-24 19:00:00,Period.ONE_DAY,MOEX,0,0,2026-02-24,2026-02-25 01:11:54
1,ME,YUR,-6936.0,310.0,6,-7246.0,18,2026-02-24 19:00:00,Period.ONE_DAY,MOEX,0,0,2026-02-24,2026-02-25 01:11:54
2,ME,FIZ,6936.0,9146.0,503,-2210.0,137,2026-02-24 19:00:00,Period.ONE_DAY,MOEX,0,0,2026-02-24,2026-02-25 01:11:54
3,ME,YUR,-6936.0,310.0,6,-7246.0,18,2026-02-24 19:00:00,Period.ONE_DAY,MOEX,0,0,2026-02-24,2026-02-25 01:11:54
4,ME,FIZ,5279.0,7240.0,443,-1961.0,116,2026-02-20 19:00:00,Period.ONE_DAY,MOEX,0,0,2026-02-20,2026-02-25 01:11:54
5,ME,YUR,-5279.0,607.0,4,-5886.0,14,2026-02-20 19:00:00,Period.ONE_DAY,MOEX,0,0,2026-02-20,2026-02-25 01:11:54

In [6]:
fo = Market("FO")
assets = await fo.get_assets()
df = pd.concat([await a.futoi(Period.FIVE_MINUTES, begin="2026-02-02", end="2026-02-02") for a in assets])
df.sort_values(["tradetime", "sectype", "clgroup"]).reset_index()

,index,sectype,clgroup,pos,pos_long,pos_long_num,pos_short,pos_short_num,tradetime,period,assetcode,seqnum,sess_id,session_date,systime
0,0,AF,FIZ,39029.0,50354.0,834,-11325.0,210,2026-02-02 09:05:13,Period.FIVE_MINUTES,AFLT,271,7490,2026-02-02,2026-02-02 09:05:22
1,1,AF,YUR,-39029.0,1466.0,4,-40495.0,25,2026-02-02 09:05:13,Period.FIVE_MINUTES,AFLT,271,7490,2026-02-02,2026-02-02 09:05:22
2,0,AL,FIZ,11132.0,23530.0,482,-12398.0,173,2026-02-02 09:05:13,Period.FIVE_MINUTES,ALRS,271,7490,2026-02-02,2026-02-02 09:05:22
3,1,AL,YUR,-11132.0,35403.0,1,-46535.0,25,2026-02-02 09:05:13,Period.FIVE_MINUTES,ALRS,271,7490,2026-02-02,2026-02-02 09:05:22
4,0,AU,FIZ,75.0,178.0,18,-103.0,4,2026-02-02 09:05:13,Period.FIVE_MINUTES,AUDU,271,7490,2026-02-02,2026-02-02 09:05:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22093,347,W4,YUR,80.0,877.0,3,-797.0,2,2026-02-02 23:50:00,Period.FIVE_MINUTES,WHEAT,57,7491,2026-02-03,2026-02-02 23:50:10
22094,346,X5,FIZ,154030.0,172034.0,1440,-18004.0,190,2026-02-02 23:50:00,Period.FIVE_MINUTES,X5,57,7491,2026-02-03,2026-02-02 23:50:10
22095,347,X5,YUR,-154030.0,179565.0,6,-333595.0,27,2026-02-02 23:50:00,Period.FIVE_MINUTES,X5,57,7491,2026-02-03,2026-02-02 23:50:10
22096,346,YD,FIZ,92975.0,119340.0,1037,-26365.0,290,2026-02-02 23:50:00,Period.FIVE_MINUTES,YDEX,57,7491,2026-02-03,2026-02-02 23:50:10
22097,347,YD,YUR,-92975.0,16208.0,14,-109183.0,19,2026-02-02 23:50:00,Period.FIVE_MINUTES,YDEX,57,7491,2026-02-03,2026-02-02 23:50:10